*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main{
  height: 100vh;
  background:linear-gradient(to bottom, #4c4949, #ff786e,#490d04);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 40px 8%;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  
}
.details h1,.details p,i{
  color: #f1f1f1;
}

.container{
  display: flex;
  gap: 14px;
  background: linear-gradient(to bottom,black, #e77870 );
  padding: 3rem;
  border-radius: 10px;
  
}
a{
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 12px;
  background-color: #e77870;
  color:beige;
  cursor: pointer;
}
a title{
  outline: none;
  border: none;
  color: black;
}
a:hover{
  background-color: #ff9a8b;
}
i{
  font-size: 30px;
  animation: bounce 1.5s infinite;
}
@keyframes bounce{
  0%,100%{
    transform: translateY(0);
  }50%{
    transform: translateY(-15px);
  }
}
@media(max-width:768px){
  .container{
    flex-wrap: wrap;
    gap: 24px;
  }
  main{
    gap: 3rem;
    padding: 2rem;
  }
}

@media (max-width:450px) {
  main{
    gap: 3rem;
    padding: 1rem;
  }
  .container{
    flex-wrap: wrap;

    gap: 24px;
    
    
    
  }
}


