*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body{
  
}
main{
 max-width:746px ;
  height:448px;
  margin:5rem auto;
  background-color: #e4e7eb;
  padding: 1rem;
}
.black-cont{
  width: 100%;
  height: 410px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.little-down{
  width: 100%;
  height: 10px;
  background-color: #f1f1f1;
 border-radius: 0px 0px  2px 2px;
}
.text-container{
  width: 40%;
  height: auto;
  background-color: #fefefe;
  padding: 3.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  color:#333333;
}
.text-container p{
  font-weight: 550;
}
.pink{
  width:200px;
  height: 70px;
  padding: 1rem;
  background-color: #FE0095;
  position: absolute;
  top: -1.6rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  
}
.pink p{
  text-align: center;
  color: #080808;
  font-size:25px;
  font-weight:800;
}

/* for tablet */
@media (max-width:710px) {
  main{
    max-width:600px ;
    margin: 5rem 0.5rem;
   }
   .text-container{
    width: 50%;
    height: auto;
    background-color: #fefefe;
    padding: 3.5rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    position: relative;
    color:#333333;
  }
}

/* for mobile */
@media (max-width:440px) {
  main{
    max-width:500px;
    margin: 5rem 0.5rem;
   }
   .text-container{
    width: 100%;
    height: auto;
    background-color: #fefefe;
    padding: 3.5rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    position: relative;
    color:#333333;
  }
}
